@charset "UTF-8";
* {
  font-family: 微軟正黑體;
}

body {
  padding: 20px;
}
body .bkl_icon {
  width: 50px;
}
body .book {
  display: inline-block;
  padding: 10px;
  text-align: center;
  width: 170px;
  border: solid 1px #bbb;
}
body .book a {
  color: #555;
}
body .book img {
  width: 100%;
}
body .book .author, body .book .price, body .book .publish {
  font-weight: normal;
  margin: 0;
  font-style: 14px;
  color: #555;
}
body .book .name {
  font-size: 18px;
  margin: 0;
}
body .book .name a {
  color: #222;
}
body .book .red {
  font-weight: 900;
  color: #d93800;
}
body .book.detail {
  display: block;
  width: 80%;
  text-align: left;
  padding: 10px;
  line-height: 24px;
}
body .book.detail img {
  width: 150px;
  display: inline-block;
  vertical-align: middle;
}
body .book.detail .infos {
  display: inline-block;
  width: calc(100% - 150px - 20px);
  vertical-align: middle;
}
body .big {
  width: 280px;
  height: 400px;
  vertical-align: top;
}
body .big img {
  margin-bottom: 5px;
}
body .detail.big {
  height: initial;
  padding: 20px;
}
body .detail.big img {
  width: 220px;
}
body .detail.big .infos {
  width: calc(100% - 220px - 20px);
}